name: Publish-iOS

on:
  push:
    # Pattern matched against refs/tags
    tags:
      - "*" # Push events to every tag not containing /

jobs:
  publish-ios:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install Cocoapods
        run: gem install cocoapods

      - name: Deploy to Cocoapods
        run: |
          set -eo pipefail
          chmod +x ./publish_ios.sh
          ./publish_ios.sh
        shell: bash  
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
